 <!--名前、生年月日、自己紹介、アイコンの設定フォーム-->
 <%= form_with(model: @life, multipart: true, local: true) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, value: @life.name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :year %>
        <%= f.number_field :year, value: @life.year, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :month %>
        <%= f.number_field :month, value: @life.month, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :date %>
        <%= f.number_field :date, value: @life.date, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :introduce %>
        <%= f.text_area :introduce, value: @life.introduce, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, value: @life.image, class: "form-control" %>
    </div>
    <div class="text-center">
        <%= f.submit "登録する", class: "btn btn-primary btn-wide" %>
    </div>
<% end %>