<!--名前、生年月日、自己紹介の基本情報の出力-->
<div class="d-flex w-100 align-items-start">
    <div class="mr-4">
        <img class="profile-image-detail" src="<%= profile_image(@life) %>">
    </div>
    <div>
        <h2>
            <%= @life.name %>
        </h2>
        <div class="d-inline-block mb-2 border-bottom border-dark">
            <span><%= @life.year %>年</span>
            <span><%= @life.month %>月</span>
            <span><%= @life.date %>日</span>
            <span>生まれ</span>
            <% if @the_age %>
                <span>（現在<%= @the_age %>歳）</span>
            <% end %>
        </div>
        <p>
            <%= @life.introduce %>
        </p>
    </div>
</div>