<!--名前、生年月日、自己紹介の基本情報の出力-->
<div class="d-flex w-100 align-items-center">
    <div class="flex-fill">
        <img src="/user_images/<%= @life.id %>.jpg">
    </div>
    <div class="flex-fill">
        <h2>
            <%= @life.name %>
        </h2>
        <div class="d-flex">
            <p>
                <%= @life.year %>年
            </p>
             <p>
                <%= @life.month %>月
            </p>
             <p>
                <%= @life.date %>日
            </p>
        </div>
        <p>
            <%= @life.introduce %>
        </p>
    </div>
</div>