<h2>Search your life</h2>
<div class="row">
    <div class="col-md-12">
        <% @lifes.each do |life| %>
            <p>名前：<%= life.name %></p>
            <p>誕生年：<%= life.year %></p>
            <p>誕生月：<%= life.month %></p>
            <p>誕生日：<%= life.date %></p>
            <p>自己紹介：<%= life.introduce %></p>
            <p>画像：<%= life.image %></p>
        <% end %>
    </div>
</div>
