<% provide(:title, "Home") %>
<div class="card-columns index-column">
    <% @lifes.each do |life| %>
        <% if life.name %>
            <%= link_to life_path(life), class: "card" do %>
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <img class="profile-image" src="<%= life.image != nil ? "/user_images/#{life.id}.jpg" : "/user_images/default.jpg" %>">
                        </div>
                        <div>
                            <h3><%= life.name %></h3>
                            <p class="adjust-intro"><%= life.introduce %></p>
                            <p>メール：<%= life.email %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
