<div>
    <p class="my-3 font-weight-bold">
        <%= "id: #{@life.id}の個別ページ" %>
    </p>
    
    <!--case1-->
    <!--ログイン中のユーザーと現在訪問している詳細ページのユーザーのidを比較して、同一ユーザーだった場合 && 人生登録してない場合は人生登録のフォームを表示-->
    <% if @life.id == @current_user && @life.name == nil %>
        <%= render "basic-form" %>
    <!--case2-->
    <!--その他で編集画面を出す必要がない時は普通に表示させる-->
    <% elsif @life.id == @current_user && @life.name != nil %>
        <%= render "basic-infomation" %>
        <!--現在ログインしているユーザーと訪問している詳細ページのidを比較-->
        <% if @life.id == @current_user %>
            <%= link_to "edit", edit_life_path, class: "btn btn-primary" %>
        <% end %>
        <!--イベント部分-->
        <div>
            <%= render "content-show" %>
        </div>
        <!--イベント部分 ここまで-->
        <%= render "layouts/content-form" %>
    <!--case3-->
    <!--その他で編集画面を出す必要がない時は普通に表示させる-->
    <% else %>
        <%= render "basic-infomation" %>
        <!--イベント部分-->
        <div class="d-flex w-100 align-items-center">
            <div>
                <%= render "content-show" %>
            </div>
        </div>
    <% end %>
</div>
