<% provide(:title, "Show") %>
<div>
    <!--case1-->
    <!--ログイン中のユーザーと詳細ページのユーザーが同一ユーザー && 基本情報が未登録の場合-->
    <% if @life.id == @current_user && @life.name == nil %>
        <%= render "basic-form" %>
    <!--case2-->
    <!--ログイン中のユーザーと詳細ページのユーザーが同一ユーザー && 基本情報が登録済の場合-->
    <% elsif @life.id == @current_user && @life.name != nil %>
        <%= render "basic-infomation" %>
        <div class="mt-3 w-100">
            <%= link_to "編集する", edit_life_path, class: "btn btn-primary btn-wide" %>
        </div>
        <div class="mt-5">
            <%= render "content-show" %>
        </div>
        <div class="mt-5">
            <%= render "layouts/content-form" %>
        </div>
    <!--case3-->
    <!--ログイン中のユーザーと詳細ページのユーザーが違うユーザー-->
    <% else %>
        <div>
            <%= render "basic-infomation" %>
        </div>
        <!--イベント部分-->
        <div class="mt-5">
            <%= render "content-show" %>
        </div>
    <% end %>
</div>
