<!--人生イベントの登録&編集用フォーム-->
<h3>Addition</h3>
<!--https://qiita.com/kiddikn/items/6df1770ce6f31533d654-->
<%= form_with model: [@life, Content.new], local: true do |f| %>
    <%= f.hidden_field :life_id, { value: @life.id } %>
    <div class="form-group">
        <label>Year</label>
        <%= f.number_field :year, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>Month</label>
        <%= f.number_field :month, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>Date</label>
        <%= f.number_field :date, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>Event</label>
        <%= f.text_area :event, class: "form-control" %>
    </div>
    <div class="text-center">
        <%= f.submit "登録する", class: "btn btn-primary btn-wide" %>
    </div>
<% end %>